<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="matchers">
            <directory>tests/Matchers</directory>
        </testsuite>
        <testsuite name="integer-matchers">
            <directory>tests/Matchers/Integers</directory>
        </testsuite>
        <testsuite name="float-matchers">
            <directory>tests/Matchers/Floats</directory>
        </testsuite>
        <testsuite name="numeric-matchers">
            <directory>tests/Matchers/Numerics</directory>
        </testsuite>
        <testsuite name="string-matchers">
            <directory>tests/Matchers/Strings</directory>
        </testsuite>
        <testsuite name="type-matchers">
            <directory>tests/Matchers/Types</directory>
        </testsuite>
        <testsuite name="all-numeric-matchers">
            <directory>tests/Matchers/Integers</directory>
            <directory>tests/Matchers/Floats</directory>
            <directory>tests/Matchers/Numerics</directory>
        </testsuite>
        <testsuite name="utilities">
            <directory>tests/Utilities</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
